@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
/* line 1, style.sass */
* { box-sizing: border-box; }

/* line 4, style.sass */
.container { margin: 1em; }

/* line 41, _baseline-grid.sass */
html { font-family: "Vollkorn", georgia, serif; font-size: 100%; line-height: 1.5em; font-weight: 100; background-image: linear-gradient(cyan 1px, transparent 1px); background-size: auto 1.5em; }

/* line 51, _baseline-grid.sass */
h1, h2, h3, h4, h5, h6 { font-family: arial, sans-serif; font-weight: 900; color: #333333; }

/* line 57, _baseline-grid.sass */
h1 { font-size: 2em; }

/* line 61, _baseline-grid.sass */
p { margin: 1.5rem 0; color: #444444; }

/* line 66, _baseline-grid.sass */
.test span { font-weight: 700; }

/* line 10, style.sass */
.viewport-label { margin: 0; }
/* line 13, style.sass */
.viewport-label::before { position: absolute; bottom: 0; right: 0; padding: 0 5px; color: white; font-size: 0.75em; background: rgba(0, 0, 0, 0.5); }

/* TODO: remove this before launch */
/* line 2, viewports/_alpha.sass */
.viewport-label::before { content: "Alpha Viewport"; }

/* line 5, viewports/_alpha.sass */
.row { margin-top: 3em; margin-left: -1em; margin-right: -1em; }

/* line 10, viewports/_alpha.sass */
.column { clear: both; margin: 0; margin-bottom: 1.5em; padding: 1.5em 1em; background: rgba(0, 0, 0, 0.03); }

/* line 17, viewports/_alpha.sass */
p { margin: 0; margin-bottom: 1em; }
/* line 21, viewports/_alpha.sass */
p:last-child { margin-bottom: 0; }

@media (min-width: 30em) { /* line 1, viewports/_bravo.sass */
  .viewport-label::before { content: "Bravo Viewport"; }
  /* line 4, viewports/_bravo.sass */
  .column { clear: inherit; max-width: 50%; float: left; border-right: 1px solid rgba(0, 0, 0, 0.1); }
  /* line 10, viewports/_bravo.sass */
  .column:nth-child(2n+1) { clear: both; }
  /* line 13, viewports/_bravo.sass */
  .column:nth-child(2n) { border-right: none; } }
@media (min-width: 60em) { /* line 1, viewports/_charlie.sass */
  .viewport-label::before { content: "Charlie Viewport"; }
  /* line 4, viewports/_charlie.sass */
  .column { max-width: 33.33333%; float: left; }
  /* line 8, viewports/_charlie.sass */
  .column:nth-child(2n+1) { clear: inherit; }
  /* line 11, viewports/_charlie.sass */
  .column:nth-child(3n+1) { clear: both; }
  /* line 15, viewports/_charlie.sass */
  .column:nth-child(2n) { border-right: 1px solid rgba(0, 0, 0, 0.1); }
  /* line 18, viewports/_charlie.sass */
  .column:nth-child(3n) { border-right: none; } }
@media (min-width: 72em) { /* line 1, /Users/christiannaths/Projects/NAIT/14013 DMIT2033 Web Design & Usability II/instructor-examples/Module 3 - Responsive Web Design/[Project] Start Web Design Responsive Template/stylesheets/viewports/_delta.sass */
  .viewport-label::before { content: "Delta Viewport"; }
  /* line 4, /Users/christiannaths/Projects/NAIT/14013 DMIT2033 Web Design & Usability II/instructor-examples/Module 3 - Responsive Web Design/[Project] Start Web Design Responsive Template/stylesheets/viewports/_delta.sass */
  .container { max-width: 70em; margin: 0 auto; } }
