// ------------------------------------------------------------
// ------------------------------------------------------------Process Section
.process
  // @extend .baseline-grid
  text-align: center
  background-color: $alt-background

  .process-icon
    display: block
    height: 2.5em
    width: 3em
    margin: 0 auto 0.5em auto
    background-image: url('../images/ui/sprites.png')
    background-size: 50em
    background-position: 0.6em -4em

  .process-organization .process-icon
    background-position: -3.85em -4em

  .process-education .process-icon
    background-position: -8em -4em

  .process-efficiency .process-icon
    background-position: -12.15em -4em

  .process-creativity .process-icon
    background-position: -16.3em -4em

  .process-accuracy .process-icon
    background-position: -20.45em -4em

  @media (min-width: $breakpoint-1)
    .grid-frame
      clear: none
      width: 50%
      float: left

    .grid-frame:nth-child(2n+1)
      clear: both

    .grid-frame:nth-last-child(2)
      margin-bottom: 0

  @media (min-width: $breakpoint-1-5)
    .process-icon
      height: 3em
      width: 3.5em
      margin: 0 auto 1.5em auto
      background-size: 60em
      background-position: 0.6em -5em

    .process-organization .process-icon
      background-position: -4.7em -5em

    .process-education .process-icon
      background-position: -9.4em -5em

    .process-efficiency .process-icon
      background-position: -14.65em -5em

    .process-creativity .process-icon
      background-position: -19.5em -5em

    .process-accuracy .process-icon
      background-position: -24.6em -5em


  @media (min-width: $breakpoint-2)
    .grid-frame
      width: 33.3333333%
      float: left

    .grid-frame:nth-child(2n+1)
      clear: none

    .grid-frame:nth-child(3n+1)
      clear: both

    .grid-frame:nth-last-child(3)
      margin-bottom: 0

