@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
/* line 1, style.sass */
* { box-sizing: border-box; }

/* line 4, style.sass */
.container { margin: 0 1em; }

/* line 7, style.sass */
.clearfix:after { content: ""; display: table; clear: both; }

/* line 42, _baseline-grid.sass */
html { font-family: "Vollkorn", georgia, serif; font-size: 125%; line-height: 1.5em; font-weight: 100; background-image: linear-gradient(cyan 1px, transparent 1px); background-size: auto 1.5em; }

/* line 52, _baseline-grid.sass */
h1, h2, h3, h4, h5, h6 { margin: 0; font-family: arial, sans-serif; font-weight: 900; color: #333333; }

/* line 59, _baseline-grid.sass */
h1 { font-size: 2em; line-height: 1.5em; margin-bottom: 0.75em; }

/* line 65, _baseline-grid.sass */
p { margin: 1.5rem 0; color: #444444; }

/* line 70, _baseline-grid.sass */
.test span { font-weight: 700; }

/* line 74, _baseline-grid.sass */
section.process h2 { margin-bottom: 1em; font-family: "Vollkorn", georgia, serif; font-weight: normal; }

/* line 15, style.sass */
.viewport-label { margin: 0; }
/* line 18, style.sass */
.viewport-label::before { position: fixed; bottom: 0; right: 0; padding: 0 5px; color: white; font-size: 0.75em; background: rgba(0, 0, 0, 0.5); }

/* TODO: remove this before launch */
/* line 2, viewports/_alpha.sass */
.viewport-label::before { content: "Alpha Viewport"; }

/* line 5, viewports/_alpha.sass */
body > header { height: 15em; background: url("../images/ui/hipster-alley-sm.jpg") center center no-repeat; background-size: cover; box-shadow: inset 0px 10px 0px rgba(255, 255, 255, 0.5); }

/* line 11, viewports/_alpha.sass */
body > nav { margin: 0 0 0.75em 0; text-align: center; background: white; }
/* line 16, viewports/_alpha.sass */
body > nav ul { margin: 0; padding: 0; }
/* line 20, viewports/_alpha.sass */
body > nav li { display: inline; }
/* line 23, viewports/_alpha.sass */
body > nav a { display: inline-block; padding: 0em 0.5em; font-family: Arial, sans-serif; font-weight: bold; font-size: 0.75em; color: #333333; text-decoration: none; text-transform: uppercase; }
/* line 33, viewports/_alpha.sass */
body > nav .brand { width: 4em; line-height: 3em; font-family: "Vollkorn", georgia, serif; font-size: 1.25em; text-transform: none; text-indent: -9999px; background: url("../images/ui/sprites.png") left top; background-size: 60em; background-position: 0 0.75em; }

/* line 44, viewports/_alpha.sass */
section.process { text-align: center; background: #eeeeee; padding: 3em 0; }

/* line 49, viewports/_alpha.sass */
.process .icon { display: block; margin: 0 auto 1.5em auto; height: 3em; width: 4em; background-image: url("../images/ui/sprites.png"); background-size: 60em; background-position: 0.6em -5em; }

/* line 58, viewports/_alpha.sass */
.process-communication .icon { background-position: 0.6em -5em; }

/* line 61, viewports/_alpha.sass */
.process-organization .icon { background-position: -4.4em -5em; }

/* line 64, viewports/_alpha.sass */
.process-education .icon { background-position: -9.4em -5em; }

/* line 67, viewports/_alpha.sass */
.process-efficiency .icon { background-position: -14.4em -5em; }

/* line 70, viewports/_alpha.sass */
.process-creativity .icon { background-position: -19.4em -5em; }

/* line 73, viewports/_alpha.sass */
.process-accuracy .icon { background-position: -24.4em -5em; }

/* line 78, viewports/_alpha.sass */
.row { margin-left: -1em; margin-right: -1em; }

/* line 82, viewports/_alpha.sass */
.column { clear: both; margin: 0; margin-bottom: 3em; padding: 0 1em; }
/* line 88, viewports/_alpha.sass */
.column:last-child { margin-bottom: 0; }

/* line 92, viewports/_alpha.sass */
p { margin: 0; margin-bottom: 1em; }
/* line 96, viewports/_alpha.sass */
p:last-child { margin-bottom: 0; }

@media (min-width: 30em) { /* line 1, viewports/_bravo.sass */
  .viewport-label::before { content: "Bravo Viewport"; }
  /* line 5, viewports/_bravo.sass */
  body > header { background-image: url("../images/ui/hipster-alley-md.jpg"); }
  /* line 8, viewports/_bravo.sass */
  .column { clear: inherit; max-width: 50%; float: left; }
  /* line 13, viewports/_bravo.sass */
  .column:nth-child(2n+1) { clear: both; }
  /* line 16, viewports/_bravo.sass */
  .column:nth-last-child(2) { margin-bottom: 0; } }
@media (min-width: 60em) { /* line 1, viewports/_charlie.sass */
  .viewport-label::before { content: "Charlie Viewport"; }
  /* line 5, viewports/_charlie.sass */
  body > header { background-image: url("../images/ui/hipster-alley-lg.jpg"); }
  /* line 8, viewports/_charlie.sass */
  .column { max-width: 33.33333%; float: left; }
  /* line 12, viewports/_charlie.sass */
  .column:nth-child(2n+1) { clear: inherit; }
  /* line 15, viewports/_charlie.sass */
  .column:nth-child(3n+1) { clear: both; }
  /* line 18, viewports/_charlie.sass */
  .column:nth-last-child(3) { margin-bottom: 0; } }
@media (min-width: 72em) { /* line 1, /Users/christiannaths/Projects/NAIT/14013 DMIT2033 Web Design & Usability II/instructor-examples/Module 3 - Responsive Web Design/[Project] Start Web Design Responsive Template/stylesheets/viewports/_delta.sass */
  .viewport-label::before { content: "Delta Viewport"; }
  /* line 4, /Users/christiannaths/Projects/NAIT/14013 DMIT2033 Web Design & Usability II/instructor-examples/Module 3 - Responsive Web Design/[Project] Start Web Design Responsive Template/stylesheets/viewports/_delta.sass */
  .container { max-width: 70em; margin: 0 auto; } }
