@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
/* line 3, elements/_all.sass */
* { box-sizing: border-box; }

/* line 8, elements/_all.sass */
.outline-only { display: none; }

/* line 11, elements/_all.sass */
.viewport-label { margin: 0; }
/* line 14, elements/_all.sass */
.viewport-label::before { content: "None"; position: fixed; bottom: 0; right: 0; padding: 0 5px; color: white; font-size: 0.75em; background: rgba(0, 0, 0, 0.5); }

@media (min-width: 24em) { /* line 25, elements/_all.sass */
  .viewport-label::before { content: "BP 0.5"; } }
@media (min-width: 32em) { /* line 29, elements/_all.sass */
  .viewport-label::before { content: "BP 1"; } }
@media (min-width: 46em) { /* line 33, elements/_all.sass */
  .viewport-label::before { content: "BP 1.5"; } }
@media (min-width: 60em) { /* line 37, elements/_all.sass */
  .viewport-label::before { content: "BP 2"; } }
@media (min-width: 70em) { /* line 41, elements/_all.sass */
  .viewport-label::before { content: "BP 2.5"; } }
@media (min-width: 80em) { /* line 45, elements/_all.sass */
  .viewport-label::before { content: "BP 3"; } }
/* line 48, elements/_all.sass */
.clearfix:after { content: ""; display: table; clear: both; }

/* line 55, elements/_all.sass */
html { font-family: "Vollkorn", georgia, serif; font-size: 125%; line-height: 1.5em; font-weight: normal; }

/* line 63, elements/_all.sass */
body { color: #443d43; }

/* line 66, elements/_all.sass */
h1, h2, h3, h4, h5, h6, ul, ol, li, p { margin: 0; padding: 0; }

/* line 70, elements/_all.sass */
h1 { font-family: arial, sans-serif; font-weight: 900; font-size: 2em; line-height: 1.5; margin-bottom: 0.75em; }

/* line 77, elements/_all.sass */
h2 { font-family: "Vollkorn", georgia, serif; font-weight: normal; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

/* line 84, elements/_all.sass */
p { margin-bottom: 1.5em; }

/* line 87, elements/_all.sass */
p:last-child { margin-bottom: 0; }

/* line 92, elements/_all.sass */
.container { padding: 0 1em; }
/* line 95, elements/_all.sass */
.container .grid { margin-left: -1em; margin-right: -1em; }

/* line 99, elements/_all.sass */
.grid-frame { clear: both; margin: 0; margin-bottom: 3em; padding: 0 1em; }

/* line 105, elements/_all.sass */
.grid-frame:last-child { margin-bottom: 0; }

@media (min-width: 80em) { /* line 111, elements/_all.sass */
  .container { max-width: 64em; margin: 0 auto; } }
/* line 118, elements/_all.sass */
.button { display: inline-block; padding: 0.75em 1em; margin-top: 0.375em; margin-bottom: 0.375em; font-size: 0.8em; line-height: 1.5; text-decoration: none; border-radius: 20px; }
/* line 128, elements/_all.sass */
.button.button-default { color: white; background: #443d43; }
/* line 132, elements/_all.sass */
.button.button-primary { color: white; background: #ee5a47; }

/* line 138, elements/_all.sass */
a { display: inline-block; text-decoration: none; color: #ee5a47; }

/* line 145, elements/_all.sass */
.branding-logo { width: 4em; font-family: "Vollkorn", georgia, serif; font-size: 1em; line-height: 3em; text-transform: none; text-indent: -9999px; background: url("../images/ui/sprites.png") left top; background-size: 60em; background-position: 0 0.75em; }

/* line 158, elements/_all.sass */
.process-icon { display: block; height: 3em; width: 4em; background-image: url("../images/ui/sprites.png"); background-size: 60em; background-position: 0.6em -5em; }

/* line 168, elements/_all.sass */
img { display: block; max-width: 100%; }

/* line 174, elements/_all.sass */
body > section { padding: 3em 0; }

/* line 3, contexts/_site-nav.sass */
body.landing-page .site-nav ul li:first-child a { color: white; background: #ee5a47; border-radius: 0.5em; }

/* line 8, contexts/_site-nav.sass */
.site-nav { text-align: center; }
/* line 11, contexts/_site-nav.sass */
.site-nav .grid-frame { margin-top: 1.5em; margin-bottom: 1.5em; }
/* line 15, contexts/_site-nav.sass */
.site-nav .grid-frame:first-child { margin-bottom: 0; }
/* line 18, contexts/_site-nav.sass */
.site-nav .grid-frame:last-child { margin-top: 0; }
/* line 21, contexts/_site-nav.sass */
.site-nav li { display: inline; }
/* line 24, contexts/_site-nav.sass */
.site-nav a { display: inline-block; padding: 0 0.25em; font-family: arial, sans-serif; font-weight: 900; }
/* line 30, contexts/_site-nav.sass */
.site-nav li a { font-size: 0.8em; line-height: 1.875; color: #443d43; }
@media (min-width: 32em) { /* line 36, contexts/_site-nav.sass */
  .site-nav li a { padding: 0 0.5em; } }
@media (min-width: 46em) { /* line 40, contexts/_site-nav.sass */
  .site-nav .grid-frame { clear: none; float: left; }
  /* line 44, contexts/_site-nav.sass */
  .site-nav .grid-frame:first-child { width: 25%; text-align: left; }
  /* line 48, contexts/_site-nav.sass */
  .site-nav .grid-frame:last-child { width: 75%; margin-top: 1.5em; margin-bottom: 0; text-align: right; }
  /* line 54, contexts/_site-nav.sass */
  .site-nav li a { line-height: 1.875; padding: 0 0.75em; margin-top: 0.9375em; margin-bottom: 0.9375em; }
  /* line 60, contexts/_site-nav.sass */
  .site-nav .branding-logo { background-position: 0 0.5em; } }
@media (min-width: 70em) { /* line 64, contexts/_site-nav.sass */
  .site-nav li a { padding: 0 1em; } }

/* line 3, contexts/_header-banner.sass */
.branding-banner { height: 9em; background-image: url("../images/ui/tagline.png"), url("../images/ui/hipster-alley-md.jpg"); background-size: auto 75%, cover; background-repeat: no-repeat, no-repeat; background-position: center center, center center; box-shadow: inset 0px 10px 0px rgba(255, 255, 255, 0.5); }
@media (min-width: 32em) { /* line 3, contexts/_header-banner.sass */
  .branding-banner { height: 12em; } }
@media (min-width: 46em) { /* line 3, contexts/_header-banner.sass */
  .branding-banner { height: 15em; } }
@media (min-width: 60em) { /* line 3, contexts/_header-banner.sass */
  .branding-banner { height: 24em; background-image: url("../images/ui/tagline.png"), url("../images/ui/hipster-alley-lg.jpg"); background-size: auto 50%, cover; } }

/* line 3, contexts/_intro-section.sass */
.intro { text-align: center; }

/* line 3, contexts/_process-section.sass */
.process { text-align: center; background: #eeeeee; }
/* line 7, contexts/_process-section.sass */
.process .process-icon { margin: 0 auto 1.5em auto; }
@media (min-width: 32em) { /* line 11, contexts/_process-section.sass */
  .process .grid-frame { clear: none; width: 50%; float: left; }
  /* line 16, contexts/_process-section.sass */
  .process .grid-frame:nth-child(2n+1) { clear: both; }
  /* line 19, contexts/_process-section.sass */
  .process .grid-frame:nth-last-child(2) { margin-bottom: 0; } }
@media (min-width: 60em) { /* line 23, contexts/_process-section.sass */
  .process .grid-frame { width: 33.33333%; float: left; }
  /* line 27, contexts/_process-section.sass */
  .process .grid-frame:nth-child(2n+1) { clear: none; }
  /* line 30, contexts/_process-section.sass */
  .process .grid-frame:nth-child(3n+1) { clear: both; }
  /* line 33, contexts/_process-section.sass */
  .process .grid-frame:nth-last-child(3) { margin-bottom: 0; } }
/* line 36, contexts/_process-section.sass */
.process .process-organization .process-icon { background-position: -4.4em -5em; }
/* line 39, contexts/_process-section.sass */
.process .process-education .process-icon { background-position: -9.4em -5em; }
/* line 42, contexts/_process-section.sass */
.process .process-efficiency .process-icon { background-position: -14.4em -5em; }
/* line 45, contexts/_process-section.sass */
.process .process-creativity .process-icon { background-position: -19.4em -5em; }
/* line 48, contexts/_process-section.sass */
.process .process-accuracy .process-icon { background-position: -24.4em -5em; }

/* line 3, contexts/_portfolio-section.sass */
.portfolio { text-align: center; }
/* line 6, contexts/_portfolio-section.sass */
.portfolio h1 { margin-bottom: 0; }
/* line 9, contexts/_portfolio-section.sass */
.portfolio .grid-frame { margin-bottom: 1.5em; }
@media (min-width: 24em) { /* line 13, contexts/_portfolio-section.sass */
  .portfolio .grid { margin: 0 auto; max-width: 24em; } }
@media (min-width: 60em) { /* line 18, contexts/_portfolio-section.sass */
  .portfolio .grid { max-width: 46em; }
  /* line 21, contexts/_portfolio-section.sass */
  .portfolio .grid-frame { clear: none; width: 50%; float: left; }
  /* line 26, contexts/_portfolio-section.sass */
  .portfolio .grid-frame:nth-child(2n+1) { clear: both; }
  /* line 29, contexts/_portfolio-section.sass */
  .portfolio .grid-frame:nth-last-child(2) { margin-bottom: 0; } }
/* line 32, contexts/_portfolio-section.sass */
.portfolio nav { font-style: italic; color: #939393; margin-bottom: 1.5em; }
/* line 37, contexts/_portfolio-section.sass */
.portfolio nav li { display: inline; }
/* line 40, contexts/_portfolio-section.sass */
.portfolio nav li:after { content: " / "; }
/* line 43, contexts/_portfolio-section.sass */
.portfolio nav li:last-child:after { content: ""; }
/* line 46, contexts/_portfolio-section.sass */
.portfolio nav a { color: #939393; padding: 0 0.25em; }
/* line 50, contexts/_portfolio-section.sass */
.portfolio nav a.active { color: #ee5a47; }
